{% extends 'base.html.twig' %}

{% block title %}EventRoom : Mon compte{% endblock %}

{% block body %}
<main class="profile">
    {{ include('./components/partials/profileMenu.html.twig') }}
    <div class="profile__content">
    
    </div>
</main>
{% endblock %}
