// VARIABLES
$ff_logo: "Orbitron", sans-serif;
$ff_default: "Roboto", sans-serif;
$ff_title: "Volkhov", serif;
$fc_span: #7BBCB0;

// GLOBAL
body{
    position: relative;
    font-family: $ff_default;
    h1, h2, h3, h4{
        font-family: $ff_title;
    }
}

// NAVBAR
header{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: #ffffff80;
    .nav{
        z-index: 2;
        padding: 20px 0;
        &__container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            &--logo{
                font-family: $ff_logo;
                text-decoration: none;
                color: inherit;
                font-weight: bold;
            }
            &--link{
                font-family: $ff_default;
                text-decoration: none;
                span{
                    display: none;
                }
            }
        }
        @media (min-width: 768px) {
            span {
                display: inline;
            }
        }
    }
}
.home {
    &__hero {
        // position: relative;
        width: 100%;
        height: 80vh;

        &--figure {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden; 
            img {
                width: 100%;
                height: auto;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                object-fit: contain;    
            }
        }

        &--text{
            position: absolute;
            top: 150px;
            left: 7%;
            z-index: 1;
            color: white;
            text-align: center;
            margin: auto;
            width: 90%;
        }
        @media (min-width: 768px) {
            &--text{
                width: 80%;
            }
        }
    }
    &__form {
        margin: 20px auto;
        width: 70%;
        &--content{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            background-color:rgb(240, 242, 243);
            label{
                color: $fc_span;
                font-weight: 600;
                margin-bottom: 10px;
            }
            input {
                padding: 5px 10px;
                border: none;
                &:focus{
                    border: $fc_span solid 1px;
                }
            }
        }
        &--group{
            display: flex;
            flex-direction: column;
        }
    }
    &__gallery{
        width: 80%;
        margin: 50px auto;
        text-align: center;
        a{
            text-decoration: none;
        }
        .card{
            text-align: start;
            ul{
                padding: 0;
                li{
                    list-style: none;
                }
            }
            img{
                height: 250px;
                object-fit: cover;
            }
            p {
                text-align: end;
                font-style: italic;
                span{
                color: $fc_span;
                font-family: $ff_title;
                font-size: 1.2em;
                font-weight: bold;
                }
            }
        }
        .row{
            max-width: 900px;
            margin: 0 auto;
        }
    }
}
.room {
    margin: 90px 0;
    &__figure{
        width: 100%;
        height: 250px;
        &--image{
            object-fit: cover;
            height: 100%;
            width: 100%;
        }
    }
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: 70px auto;
        article, form{
            width: 100%;
            padding: 40px;
        }
        &--header{
            display: flex;
            justify-content: space-between;
            h1{
                font-size: 1.5em;
                font-weight: bold;
            }
            p{
                span{
                    color: $fc_span;
                    font-family: $ff_title;
                    font-size: 1.2em;
                    font-weight: bold;
                }
            }
        }
        form{
            background-color:#f3f1f1;
        }
    }        
    @media (min-width: 768px) {
        &__content{
            width: 80%;
        }
        article{
            width: 60%;
        }
        form{
            width: 35%;
        }
    }

}