{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% for room in rooms %}
<div> 
    <h2>{{ room.title }}</h2>
    <p>Price: {{ room.price }}</p>
<img src="{{ asset('images/' ~ room.image) }}" alt="Produit Image Par Défaut" class="w-full h-36 object-cover">
<div>
    <a href="{{ path('app_room_show', { 'id': room.id }) }}">Voir détails</a></div> </div> 
{% endfor %}


{% endblock %}
