{% extends 'base.html.twig' %}

{% block title %}{{ 'Home'|trans }}{% endblock %}

{% block body %}
    <h1>{{ 'Welcome to our multilingual website'|trans }}</h1>
    <p>{{ 'This is a paragraph that will be translated'|trans }}</p>
{% endblock %}