{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!
{% endblock %}

{% block body %}
	<main class="room">
		<figure class="room__figure">
			<img class="room__figure--image" src="https://images.pexels.com/photos/2693212/pexels-photo-2693212.png?auto=compress&cs=tinysrgb&w=1920" alt="illustration">
		</figure>
		

				<twig:SearchRoom/>

	</main>

{% endblock %}