<header>
    <nav class="nav">
        <div class="nav__container">
            <a href="{{ path('app_home')}}" class="nav__container--logo">EventRoom</a>
            <a href="{{ path('app_login') }}" class="nav__container--link"><button class="btn btn-warning"><i class="bi bi-person"></i><span> Connexion</span></button></a>
        </div>
    </nav>
</header>